<html>
  <head>
    <style>
      body {
        background: <%= bg_color %>;
      }
    </style>
  </head>
  <body>
      <% if cheat_mode == true %>
        <p>The SECRET NUMBER is <%= secret_number %></p>
      <% end %>
      <p><%= message %></p>
    <form> 
      <input type="text" name="guess" />
      <input type="submit" value="Guess!" />
    </form>
  </body>
</html>
